# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Build
public/dist/

# Database
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temp files
tmp/
temp/
uploads/

# SSL
*.pem
*.key
*.crt

# Backup
backup/

# PM2
ecosystem.config.js
